<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ChatBot</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='bot-icon.png') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- Messenger -->
    <div class="msger">
      <!-- Messenger Header -->
      <header class="msger-header">
        <div class="msger-header-title">
          Chatbot
        </div>
      </header>
      <!-- Display Message -->
      <main class="msger-chat">
        <!-- Message will appear here -->
      </main>
      <!-- Input and Button Send -->
      <form class="msger-inputarea">
        <input
          type="text"
          class="msger-input"
          id="user_message"
          placeholder="Enter your message..."
        />
        <button id="send_message" type="submit" class="msger-send-btn">
          Send
        </button>
      </form>
    </div>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <!-- SocketIO js -->
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
      integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
      crossorigin="anonymous"
    ></script>
    <!-- Custom SocketIO js -->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
  </body>
</html>
